{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% block breadcrumb %}
    {% include 'education_group/breadcrumb.html' %}
{% endblock %}

{% block content %}
    {% include 'education_group/header.html' %}

    <div class="panel panel-default">
        <div class="panel-body" id="tabs">
            <div class="tab-content" id="tab_content">
                <div role="tabpanel" class="tab-pane active" id="admission_conditions">
                    <div class="row">
                        {% include "education_group/training_tree.html" %}
                        <div id="panel-data" class="col-md-9">
                            {% include "education_group/tabs.html" %}
                            <br/>

                            <div class="row">
{#                                <pre>{{ info }}</pre>#}
{#                                <pre>{{ record }}</pre>#}

                                {% comment %}
                                {% if info.is_bachelor %}
                                    <span>{% trans 'Admission Conditions for Bachelors' %}</span>
                                    <a href="#" title="" class="btn btn-primary" role="button"
                                       id="bt_organization_edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <pre>{{ admission_condition.text_for_bachelor }}</pre>
                                {% else %}
                                {% endcomment %}
                                    {% if info.is_first_group %}
                                        <div>
                                            <h4>{% trans 'Alert Message' %}</h4>
                                            <a href="#" role="button" class="modify-text-btn button"
                                                data-section="alert_message">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_alert_message">{{ admission_condition.text_alert_message|safe }}</div>
                                        </div>
                                    {% endif %}
                                    {% if info.is_second_group %}
                                        <div>
                                            <h4>Text 2nd Group</h4>
                                            <a href="#" role="button" class="modify-text-btn button"
                                            data-section="second_group">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_second_group">{{ admission_condition.text_second_group|safe }}</div>
                                        </div>
                                    {% endif %}
                                    {% if info.is_third_group %}
                                        <div>
                                            <h3>{% trans 'University Bachelors' %}</h3>
                                            <a href="#" role="button" class="modify-text-btn button" data-section="ucl_bachelors">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_ucl_bachelors">{{ admission_condition.text_bachelor_university|safe }}</div>

                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th width="30%">{% trans 'Diploma' %}</th>
                                                    <th width="30%">{% trans 'Conditions' %}</th>
                                                    <th width="150px">{% trans 'Access' %}</th>
                                                    <th>{% trans 'Remarks' %}</th>
                                                    <th width="5%">{% trans 'Actions' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr id="ucl_bachelors">
                                                    <td colspan="5" class="info">{% trans 'UCL Bachelors' %} <a
                                                        class="button line-add-btn" data-section="ucl_bachelors" href="#"><span
                                                        class="glyphicon glyphicon-plus"
                                                        aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                {% for line in record.ucl_bachelors %}
                                                <tr id="ucl_bachelors_{{ line.id }}">
                                                    <td id="ucl_bachelors_{{ line.id }}_diploma">{{ line.diploma|safe }}</td>
                                                    <td id="ucl_bachelors_{{ line.id }}_conditions">{{ line.conditions|safe }}</td>
                                                    <td id="ucl_bachelors_{{ line.id }}_access" class="text-right">{{ line.access|safe}}</td>
                                                    <td id="ucl_bachelors_{{ line.id }}_remarks">{{ line.remarks|safe }}</td>
                                                    <td class="text-right">{{ line.id }} -
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="ucl_bachelors"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="ucl_bachelors">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="others_bachelors_french">
                                                    <td colspan="5" class="info">{% trans 'Others Bachelors of the French speaking Community of Belgium' %}<a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for line in record.others_bachelors_french %}
                                                <tr id="others_bachelors_french_{{ line.id }}">
                                                    <td id="others_bachelors_french_{{ line.id }}_diploma">{{ line.diploma|safe }}</td>
                                                    <td id="others_bachelors_french_{{ line.id }}_conditions">{{ line.conditions|safe }}</td>
                                                    <td id="others_bachelors_french_{{ line.id }}_access" class="text-right">{{ line.access|safe}}</td>
                                                    <td id="others_bachelors_french_{{ line.id }}_remarks">{{ line.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="others_bachelors_french"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="others_bachelors_french"
                                                           class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="bachelors_dutch">
                                                    <td colspan="5" class="info">{% trans 'Bachelors of the Dutch speaking Community of Beligum' %}<a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for line in record.bachelors_dutch %}
                                                <tr id="bachelors_dutch_{{ line.id }}">
                                                    <td id="bachelors_dutch_{{ line.id }}_diploma">{{ line.diploma|safe }}</td>
                                                    <td id="bachelors_dutch_{{ line.id }}_conditions">{{ line.conditions|safe }}</td>
                                                    <td id="bachelors_dutch_{{ line.id }}_access" class="text-right">{{ line.access|safe}}</td>
                                                    <td id="bachelors_dutch_{{ line.id }}_remarks">{{ line.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="bachelors_dutch"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="bachelors_dutch"
                                                           class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="foreign_bachelors">
                                                    <td colspan="5" class="info">{% trans 'Foreign Bachelors' %}<a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for line in record.foreign_bachelors %}
                                                <tr id="foreign_bachelors_{{ line.id }}">
                                                    <td id="foreign_bachelors_{{ line.id }}_diploma">{{ line.diploma|safe }}</td>
                                                    <td id="foreign_bachelors_{{ line.id }}_conditions">{{ line.conditions|safe }}</td>
                                                    <td id="foreign_bachelors_{{ line.id }}_access" class="text-right">{{ line.access|safe}}</td>
                                                    <td id="foreign_bachelors_{{ line.id }}_remarks">{{ line.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="foreign_bachelors"

                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="foreign_bachelors"
                                                           class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% comment %}
                                        <div>
                                            <h3>{% trans 'Non university Bachelors' %}</h3>
                                            <a href="#" role="button" class="modify-text-btn button" data-section="first_bachelor_non_university">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_first_bachelor_non_university">{{ admission_condition.text_first_bachelor_non_university|safe }}</div>

                                            <a href="#" role="button" class="modify-text-btn button" data-section="second_bachelor_non_university">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>

                                            <div id="text_second_bachelor_non_university">{{ admission_condition.text_second_bachelor_non_university|safe }}</div>
                                        </div>
                                        {% endcomment %}
                                        <div>
                                            <h3>{% trans 'Holders of a 2nd cycle University degree' %}</h3>
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th width="30%">{% trans 'Diploma' %}</th>
                                                    <th width="30%">{% trans 'Conditions' %}</th>
                                                    <th width="150px">{% trans 'Access' %}</th>
                                                    <th>{% trans 'Remarks' %}</th>
                                                    <th>{% trans 'Actions' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr id="graduates">
                                                    <td colspan="5" class="info">{% trans 'Graduates' %} <a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for line in record.graduates %}
                                                <tr id="graduates_{{ line.id }}">
                                                    <td id="graduates_{{ line.id }}_diploma">{{ line.diploma|safe }}</td>
                                                    <td id="graduates_{{ line.id }}_conditions">{{ line.conditions|safe }}</td>
                                                    <td id="graduates_{{ line.id }}_access" class="text-right">{{ line.access|safe}}</td>
                                                    <td id="graduates_{{ line.id }}_remarks">{{ line.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="graduates"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="graduates"
                                                           class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="masters">
                                                    <td colspan="5" class="info">{% trans 'Masters' %} <a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for line in record.masters %}
                                                <tr id="masters_{{ line.id }}">
                                                    <td id="masters_{{ line.id }}_diploma">{{ line.diploma|safe }}</td>
                                                    <td id="masters_{{ line.id }}_conditions">{{ line.conditions|safe }}</td>
                                                    <td id="masters_{{ line.id }}_access" class="text-right">{{ line.access|safe}}</td>
                                                    <td id="masters_{{ line.id }}_remarks">{{ line.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="masters"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn"
                                                           data-record-id="{{ line.id }}"
                                                           data-section="masters">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% comment %}
                                        <div>
                                            <h3>{% trans 'Diplomés du 2eme cycle non universitaire' %} <a href="#" class="modify-text-btn button" role="button" data-section="diploma_second_cycle"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_diploma_second_cycle">{{ admission_condition.text_diploma_second_cycle|safe }}</div>
                                        </div>

                                        <div>
                                            <h3>{% trans "Adultes en reprise d'études" %} <a href="#" class="modify-text-btn button" role="button" data-section="adult"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>

                                            <div id="text_adult">{{ admission_condition.text_adult|safe }}</div>
                                        </div>
                                        <div>
                                            <h3>{% trans 'Accès personnalisé' %} <a href="#" class="modify-text-btn button" role="button" data-section="custom_access"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_custom_access">{{ admission_condition.text_custom_access|safe }}</div>
                                        </div>
                                        <div>
                                            <h3>{% trans "Procedures d'admission et d'inscription" %} <a href="#" class="modify-text-btn button" role="button" data-section="first_procedure"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_first_procedure">{{ admission_condition.text_first_procedure|safe }}</div>
                                            <h3>{% trans "Procedures d'admission et d'inscription" %} <a href="#" class="modify-text-btn button" role="button" data-section="second_procedure"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_second_procedure">{{ admission_condition.text_second_procedure|safe }}</div>
                                        </div>
                                        {% endcomment %}
                                    {% endif %}
{#                                {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modify_text">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Modify text' %}</h5>
                </div>
                <div class="modal-body">
                    {{ admission_condition_form.text_field }}
                </div>
                <div class="modal-footer">
                    <button id="modify_text_btn" type="submit" class="btn btn-primary" role="button"
                            title="{% trans 'save' %}">{% trans 'save' %}</button>
                    <button type="submit" class="btn" data-dismiss="modal">{% trans 'cancel' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_term">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Add a new line' %}</h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a href="#diploma">{% trans 'Diploma' %}</a></li>
                        <li role="presentation"><a href="#conditions">{% trans 'Conditions' %}</a></li>
                        <li role="presentation"><a href="#access">{% trans 'Access' %}</a></li>
                        <li role="presentation"><a href="#remarks">{% trans 'Remarks' %}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active" id="diploma">
                            {{ section_modal_form.diploma }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="conditions">
                            {{ section_modal_form.conditions }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="access">
                            {{ section_modal_form.access }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="remarks">
                            {{ section_modal_form.remarks }}
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add_term_btn" type="submit"
                            class="btn btn-primary" role="button"
                            title="{% trans 'save' %}">{% trans 'save' %}</button>
                    <button type="submit" class="btn" data-dismiss="modal">{% trans 'cancel' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modify_term">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Modify an existing line' %}</h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="modification_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#modification_diploma">{% trans 'Diploma' %}</a></li>
                        <li role="presentation"><a href="#modification_conditions">{% trans 'Conditions' %}</a></li>
                        <li role="presentation"><a href="#modification_access">{% trans 'Access' %}</a></li>
                        <li role="presentation"><a href="#modification_remarks">{% trans 'Remarks' %}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="modification_diploma">
                            <textarea id="textarea_diploma" class="form-control" style="min-width: 100%" rows="10"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="modification_conditions">
                            <textarea id="textarea_conditions" class="form-control" style="min-width: 100%" rows="10"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="modification_access">
                            <textarea id="textarea_access" class="form-control" style="min-width: 100%" rows="10"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="modification_remarks">
                            <textarea id="textarea_remarks" class="form-control" style="min-width: 100%" rows="10"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modify_term_btn" type="submit"
                            class="btn btn-primary" role="button"
                            title="{% trans 'save' %}">{% trans 'save' %}</button>
                    <button type="submit" class="btn" data-dismiss="modal">{% trans 'cancel' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/education_group/education_group_tree.js' %}"></script>
    <script>
        $(".line-add-btn").click(function (evt) {
            evt.preventDefault();
            var section = $(this).data('section');
            var modal = $("#add_term");

            var button = modal.find('#add_term_btn');
            button.data('section', section);
            modal.modal('show');
            return false;
        });

        $('div#panel-data').on('click', 'a.line-remove-btn', function (evt) {
        {#$(".line-remove-btn").click(function (evt) {#}
            evt.preventDefault();

            var section = $(this).data('section');
            var record_id = $(this).data('record-id');

            var url = "{% url 'education_group_year_admission_condition_remove_line' education_group_year_id=education_group_year.id %}";

            $.ajax(url, {
                data: JSON.stringify({'id': record_id, 'section': section}),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var element = $("tr#" + section + "_" + record_id);
                    element.remove();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                    alert("We can't remove this line of the section");
                }
            });

            return false;
        });

        $('div#panel-data').on('click', 'a.line-edit-btn', function (evt) {
            evt.preventDefault();
            var section = $(this).data('section'),
                record_id = $(this).data('record-id');
            var modal = $("#modify_term");
            var button = modal.find('#modify_term_btn');
            button.data('section', section);
            button.data('record-id', record_id);

            var url = "{% url 'education_group_year_admission_condition_get_line' education_group_year_id=education_group_year.id %}";

            var diploma_ptr = $('#textarea_diploma'),
                conditions_ptr = $('#textarea_conditions'),
                access_ptr = $('#textarea_access'),
                remarks_ptr = $('#textarea_remarks');

            var data = {
                section: section,
                id: record_id
            };

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    diploma_ptr.val(data.diploma);
                    conditions_ptr.val(data.conditions);
                    access_ptr.val(data.access);
                    remarks_ptr.val(data.remarks);

                    modal.modal('show');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                    alert('Error');
                }
            });

            console.log(section, record_id);
        });

        $('#modify_text_btn').click(function(evt) {
            evt.preventDefault();
            var modal = $("#modify_text");
            var url = "{% url 'education_group_year_admission_condition_modify_text' education_group_year_id=education_group_year.id %}";
            var section = $(this).data('section');
            console.log('modify_text_btn.click', section);

            var text_ptr = CKEDITOR.instances['id_text_field'];

            var data = {
                section: section,
                text: text_ptr.getData(),
            }

            console.table(data);

            $("#text_"  + section).html(data['text']);

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    console.table(data);
                    modal.modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error');
                }
            });
        });

        $('.modify-text-btn').click(function (evt) {
            evt.preventDefault();
            var section = $(this).data('section');
            var url = "{% url 'education_group_year_admission_condition_get_text' education_group_year_id=education_group_year.id %}";

            console.log(section);
            var modal = $("#modify_text");
            var button = modal.find('#modify_text_btn');
            button.data('section', section);

            var text_ptr = CKEDITOR.instances['id_text_field'];
            var data = {
                section: section,
            }

            console.log(url);

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    console.table(data);
                    text_ptr.setData(data.text);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                    alert('Error');
                }
            })
            {#text_ptr.setData()#}

            modal.modal('show');
            return false;
        });

        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#modification_tabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#modify_term_btn').click(function(evt) {
            var modal = $('#modify_term');
            var url = "{% url 'education_group_year_admission_condition_update_line' education_group_year_id=education_group_year.id %}"
            var section = $(this).data('section'),
                record_id = $(this).data('record-id');

            var diploma_ptr = $('#textarea_diploma'),
                conditions_ptr = $('#textarea_conditions'),
                access_ptr = $('#textarea_access'),
                remarks_ptr = $('#textarea_remarks');

            var data = {
                id: record_id,
                section: section,
                diploma: diploma_ptr.val(),
                conditions: conditions_ptr.val(),
                access: access_ptr.val(),
                remarks: remarks_ptr.val()
            };
            console.log(data);

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    console.log("updated", data);
                    css_selector = section + '_' + record_id + "_diploma";
                    console.log(css_selector);
                    $('#' + section + '_' + record_id + "_diploma").html(data.diploma);
                    $('#' + section + '_' + record_id + "_conditions").html(data.conditions);
                    $('#' + section + '_' + record_id + "_access").html(data.access);
                    $('#' + section + '_' + record_id + "_remarks").html(data.remarks);

                    modal.modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                    alert('Error');
                }
            });

        });

        $('#add_term_btn').click(function(evt) {
            var modal = $('#add_term');
            var url = "{% url 'education_group_year_admission_condition_add_line' education_group_year_id=education_group_year.id %}";
            var section = $(this).data('section');

            var diploma_ptr = $('#id_diploma'),
                conditions_ptr = $('#id_conditions'),
                access_ptr = $('#id_access'),
                remarks_ptr = $('#id_remarks');

            var data = {
                section: section,
                diploma: diploma_ptr.val(),
                conditions: conditions_ptr.val(),
                access: access_ptr.val(),
                remarks: remarks_ptr.val()
            };

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    var html = create_html_for_record(section, data.record);
                    var pointer = $('#' + section);

                    var css_selector = "tr[id^='"+section+"_']";
                    var number_of_lines = $(css_selector).length;

                    if (number_of_lines > 0) {
                        pointer = $(css_selector + ':last');
                    }

                    pointer.after(html);

                    diploma_ptr.val('');
                    conditions_ptr.val('');
                    access_ptr.val('');
                    remarks_ptr.val('');

                    modal.modal('hide');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('Error');
                }
            });

            modal.modal('hide');
        });

        function create_html_for_record(section, record) {
            return [
                '<tr id="', section, '_',record.id,'">',
                    '<td id="', section, '_', record.id, '_diploma">', record.diploma, '</td>',
                    '<td id="', section, '_', record.id, '_conditions">', record.conditions, '</td>',
                    '<td id="', section, '_', record.id, '_access">', record.access, '</td>',
                    '<td id="', section, '_', record.id, '_remarks">', record.remarks, '</td>',
                    '<td>',
                        '<a href="#" class="button line-remove-btn" data-record-id="', record.id,'" data-section="',section,'">',
                            '<span class="glyphicon glyphicon-remove-circle" style="font-size: 16px;" aria-hidden="true" />',
                        '</a>',
                        '<a href="#" class="button line-edit-btn" data-record-id="', record.id, '" data-section="', section, '">',
                            '<span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true" />',
                        '</a>',
                    '</td>',
                '</tr>'
            ].join('')
        }
    </script>
{% endblock %}