{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% block breadcrumb %}
    {% include 'education_group/breadcrumb.html' %}
{% endblock %}

{% block content %}
    {% include 'education_group/header.html' %}

    <div class="panel panel-default">
        <div class="panel-body" id="tabs">
            <div class="tab-content" id="tab_content">
                <div role="tabpanel" class="tab-pane active" id="admission_conditions">
                    <div class="row">
                        {% include "education_group/training_tree.html" %}
                        <div id="panel-data" class="col-md-9">
                            {% include "education_group/tabs.html" %}
                            <br/>

                            <div class="row">
                                <pre>{{ info }}</pre>
{#                                <pre>{{ records }}</pre>#}

                                {% if info.is_bachelor %}
                                    <span>Text for Bachelor</span>
                                    <a href="#" title="" class="btn btn-primary" role="button"
                                       id="bt_organization_edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <pre>{{ admission_condition.text_for_bachelor }}</pre>
                                    <textarea class="ckeditor"></textarea>
                                {% else %}
                                    {% if info.is_first_group %}
                                        <div>
                                            <h4>Text 1st Group</h4>
                                            <a href="#" role="button" class="modify-text-btn button"
                                                data-section="first_group">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_first_group">{{ admission_condition.text_first_group|safe }}</div>
                                        </div>
                                    {% endif %}
                                    {% if info.is_second_group %}
                                        <div>
                                            <h4>Text 2nd Group</h4>
                                            <a href="#" role="button" class="modify-text-btn button"
                                            data-section="second_group">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_second_group">{{ admission_condition.text_second_group|safe }}</div>
                                        </div>
                                    {% endif %}
                                    {% if info.is_third_group %}
                                        <div>
                                            <h3>Bacheliers universitaires</h3>
                                            <a href="#" role="button" class="modify-text-btn button" data-section="bachelor_university">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_bachelor_university">{{ admission_condition.text_bachelor_university|safe }}</div>

                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th width="30%">{% trans 'Diploma' %}</th>
                                                    <th width="30%">{% trans 'Conditions' %}</th>
                                                    <th width="150px">{% trans 'Access' %}</th>
                                                    <th>{% trans 'Remarks' %}</th>
                                                    <th width="5%">{% trans 'Actions' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr id="bacheliers_ucl">
                                                    <td colspan="5" class="info">Bacheliers UCL<a
                                                        class="button line-add-btn" data-section="bacheliers_ucl" href="#"><span
                                                        class="glyphicon glyphicon-plus"
                                                        aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                {% for record in records.bacheliers_ucl %}
                                                <tr id="bacheliers_ucl_{{ record.id }}">
                                                    <td>{{ record.diploma|safe }}</td>
                                                    <td>{{ record.conditions|safe }}</td>
                                                    <td class="text-right">{{ record.access|safe}}</td>
                                                    <td>{{ record.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           data-record-id="{{ record.id }}"
                                                           data-section="bacheliers_ucl"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn"
                                                        data-record-id="{{ record.id }}"
                                                        data-section="bacheliers_ucl">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="autres_bacheliers_fr">
                                                    <td colspan="5" class="info">Autres Bacheliers Communauté Française<a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for record in records.autres_bacheliers_fr %}
                                                <tr id="autres_bacheliers_fr_{{ record.id }}">
                                                    <td>{{ record.diploma|safe }}</td>
                                                    <td>{{ record.conditions|safe }}</td>
                                                    <td class="text-right">{{ record.access|safe}}</td>
                                                    <td>{{ record.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="bacheliers_flamand">
                                                    <td colspan="5" class="info">Bacheliers Communauté Flamande<a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for record in records.bacheliers_flamand %}
                                                <tr id="bacheliers_flamand_{{ record.id }}">
                                                    <td>{{ record.diploma|safe }}</td>
                                                    <td>{{ record.conditions|safe }}</td>
                                                    <td class="text-right">{{ record.access|safe}}</td>
                                                    <td>{{ record.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr id="bacheliers_etrangers">
                                                    <td colspan="5" class="info">Bacheliers Étrangers<a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                {% for record in records.bacheliers_etrangers %}
                                                <tr id="bacheliers_etrangers_{{ record.id }}">
                                                    <td>{{ record.diploma|safe }}</td>
                                                    <td>{{ record.conditions|safe }}</td>
                                                    <td class="text-right">{{ record.access|safe}}</td>
                                                    <td>{{ record.remarks|safe }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           class="button line-remove-btn">
                                                            <span class="glyphicon glyphicon-remove-circle"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn">
                                                            <span class="glyphicon glyphicon-edit"
                                                                  style="font-size: 16px;"
                                                                  aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <h3>{% trans 'Bacheliers non-universitaires' %}</h3>
                                            <a href="#" role="button" class="modify-text-btn button" data-section="first_bachelor_non_university">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>
                                            <div id="text_first_bachelor_non_university">{{ admission_condition.text_first_bachelor_non_university|safe }}</div>

                                            <a href="#" role="button" class="modify-text-btn button" data-section="second_bachelor_non_university">
                                                <span class="glyphicon glyphicon-edit"
                                                      style="font-size: 16px;"
                                                      aria-hidden="true"></span>
                                            </a>

                                            <div id="text_second_bachelor_non_university">{{ admission_condition.text_second_bachelor_non_university|safe }}</div>
                                        </div>
                                        <div>
                                            <h3>Diplomés du 2em cycle universitaire</h3>
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th width="30%">{% trans 'Diploma' %}</th>
                                                    <th width="30%">{% trans 'Conditions' %}</th>
                                                    <th width="150px">{% trans 'Access' %}</th>
                                                    <th>{% trans 'Remarks' %}</th>
                                                    <th>{% trans 'Actions' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="5" class="info">Licenciés <a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                <tr>
                                                    <td>{{ record.diploma }}</td>
                                                    <td>{{ record.conditions }}</td>
                                                    <td class="text-right">{{ record.access }}</td>
                                                    <td>{{ record.remarks }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           class="button line-remove-btn">
                                                                    <span class="glyphicon glyphicon-remove-circle"
                                                                          style="font-size: 16px;"
                                                                          aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn">
                                                                    <span class="glyphicon glyphicon-edit"
                                                                          style="font-size: 16px;"
                                                                          aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="info">Masters <a
                                                            class="button line-add-btn" href="#"><span
                                                            class="glyphicon glyphicon-plus"
                                                            aria-hidden="true"></span></a></td>
                                                </tr>
                                                <tr>
                                                    <td>{{ record.diploma }}</td>
                                                    <td>{{ record.conditions }}</td>
                                                    <td class="text-right">{{ record.access }}</td>
                                                    <td>{{ record.remarks }}</td>
                                                    <td class="text-right">
                                                        <a href="#" role="button"
                                                           class="button line-remove-btn">
                                                                    <span class="glyphicon glyphicon-remove-circle"
                                                                          style="font-size: 16px;"
                                                                          aria-hidden="true"></span>
                                                        </a>
                                                        <a href="#" role="button" class="button line-edit-btn">
                                                                    <span class="glyphicon glyphicon-edit"
                                                                          style="font-size: 16px;"
                                                                          aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <h3>{% trans 'Diplomés du 2eme cycle non universitaire' %} <a href="#" class="modify-text-btn button" role="button" data-section="diploma_second_cycle"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_diploma_second_cycle">{{ admission_condition.text_diploma_second_cycle|safe }}</div>
                                        </div>

                                        <div>
                                            <h3>{% trans "Adultes en reprise d'études" %} <a href="#" class="modify-text-btn button" role="button" data-section="adult"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>

                                            <div id="text_adult">{{ admission_condition.text_adult|safe }}</div>
                                        </div>
                                        <div>
                                            <h3>{% trans 'Accès personnalisé' %} <a href="#" class="modify-text-btn button" role="button" data-section="custom_access"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_custom_access">{{ admission_condition.text_custom_access|safe }}</div>
                                        </div>
                                        <div>
                                            <h3>{% trans "Procedures d'admission et d'inscription" %} <a href="#" class="modify-text-btn button" role="button" data-section="first_procedure"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_first_procedure">{{ admission_condition.text_first_procedure|safe }}</div>
                                            <h3>{% trans "Procedures d'admission et d'inscription" %} <a href="#" class="modify-text-btn button" role="button" data-section="second_procedure"><span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true"></span></a></h3>
                                            <div id="text_second_procedure">{{ admission_condition.text_second_procedure|safe }}</div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modify_text">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Modify text' %}</h5>
                </div>
                <div class="modal-body">
                    {{ admission_condition_form.text_field }}
                </div>
                <div class="modal-footer">
                    <button id="modify_text_btn" type="submit" class="btn btn-primary" role="button"
                            title="{% trans 'save' %}">{% trans 'save' %}</button>
                    <button type="submit" class="btn" data-dismiss="modal">{% trans 'cancel' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_term">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans 'Add a new line' %}</h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a href="#diploma">{% trans 'Diploma' %}</a></li>
                        <li role="presentation"><a href="#conditions">{% trans 'Conditions' %}</a></li>
                        <li role="presentation"><a href="#access">{% trans 'Access' %}</a></li>
                        <li role="presentation"><a href="#remarks">{% trans 'Remarks' %}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="diploma">
                            {{ section_modal_form.diploma }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="conditions">
                            {{ section_modal_form.conditions }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="access">
                            {{ section_modal_form.access }}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="remarks">
                            {{ section_modal_form.remarks }}
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add_term_btn" type="submit"
                            class="btn btn-primary" role="button"
                            title="{% trans 'save' %}">{% trans 'save' %}</button>
                    <button type="submit" class="btn" data-dismiss="modal">{% trans 'cancel' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/education_group/education_group_tree.js' %}"></script>
    <script>
        $(".line-add-btn").click(function (evt) {
            evt.preventDefault();
            var section = $(this).data('section');
            var modal = $("#add_term");

            var button = modal.find('#add_term_btn');
            button.data('section', section);
            var diploma = modal.find("a[href='#diploma']");
            modal.modal('show');
            diploma.tab('show');
            return false;
        });

        $('div#panel-data').on('click', 'a.line-remove-btn', function (evt) {
        {#$(".line-remove-btn").click(function (evt) {#}
            evt.preventDefault();

            var section = $(this).data('section');
            var record_id = $(this).data('record-id');

            var url = "{% url 'education_group_year_admission_condition_remove_line' education_group_year_id=education_group_year.id %}";

            $.ajax(url, {
                data: JSON.stringify({'id': record_id, 'section': section}),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var element = $("tr#" + section + "_" + record_id);
                    element.remove();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("We can't remove this line of the section")
                }
            });

            return false;
        });

        /*
        $('div#panel-data').on('click', 'a.line-edit-btn', function (evt) {
            evt.preventDefault();
            var section = $(this).data('section'),
                record_id = $(this).data('record-id');
        });
        */

        $('#modify_text_btn').click(function(evt) {
            evt.preventDefault();
            var modal = $("#modify_text");
            var url = "{% url 'education_group_year_admission_condition_modify_text' education_group_year_id=education_group_year.id %}";
            var section = $(this).data('section');
            console.log('modify_text_btn.click', section);

            var text_ptr = CKEDITOR.instances['id_text_field'];

            var data = {
                section: section,
                text: text_ptr.getData(),
            }

            console.table(data);

            $("#text_"  + section).html(data['text']);

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    console.table(data);
                    modal.modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error');
                }
            });
        });

        $('.modify-text-btn').click(function (evt) {
            evt.preventDefault();
            var section = $(this).data('section');
            var url = "{% url 'education_group_year_admission_condition_get_text' education_group_year_id=education_group_year.id %}";

            console.log(section);
            var modal = $("#modify_text");
            var button = modal.find('#modify_text_btn');
            button.data('section', section);

            var text_ptr = CKEDITOR.instances['id_text_field'];
            var data = {
                section: section,
            }

            console.log(url);

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    console.table(data);
                    text_ptr.setData(data.text);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('Error');
                }
            })
            text_ptr.setData()

            modal.modal('show');
            return false;
        });

        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#add_term_btn').click(function(evt) {
            var modal = $('#add_term');
            var url = "{% url 'education_group_year_admission_condition_add_line' education_group_year_id=education_group_year.id %}";
            var section = $(this).data('section');

            var diploma_ptr = CKEDITOR.instances['id_diploma'],
                conditions_ptr = CKEDITOR.instances['id_conditions'],
                access_ptr = CKEDITOR.instances['id_access'],
                remarks_ptr = CKEDITOR.instances['id_remarks'];

            var data = {
                section: section,
                diploma: diploma_ptr.getData(),
                conditions: conditions_ptr.getData(),
                access: access_ptr.getData(),
                remarks: remarks_ptr.getData()
            };

            $.ajax(url, {
                data: JSON.stringify(data),
                type: 'post',
                dataType: 'json',
                success: function(data) {
                    var html = create_html_for_record(section, data.record);
                    var pointer = $('#' + section);

                    var css_selector = "tr[id^='"+section+"_']";
                    var number_of_lines = $(css_selector).length;

                    if (number_of_lines > 0) {
                        pointer = $(css_selector + ':last');
                    }

                    pointer.after(html);

                    diploma_ptr.setData('');
                    conditions_ptr.setData('');
                    access_ptr.setData('');
                    remarks_ptr.setData('');

                    modal.modal('hide');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('Error');
                }
            });

            modal.modal('hide');
        });

        function create_html_for_record(section, record) {
            return [
                '<tr id="', section, '_',record.id,'">',
                    '<td>', record.diploma, '</td>',
                    '<td>', record.conditions, '</td>',
                    '<td>', record.access, '</td>',
                    '<td>', record.remarks, '</td>',
                    '<td>',
                        '<a href="#" class="button line-remove-btn" data-record-id="', record.id,'" data-section="',section,'">',
                            '<span class="glyphicon glyphicon-remove-circle" style="font-size: 16px;" aria-hidden="true" />',
                        '</a>',
                        '<a href="#" class="button line-edit-btn" data-record-id="', record.id, '" data-section="', section, '">',
                            '<span class="glyphicon glyphicon-edit" style="font-size: 16px;" aria-hidden="true" />',
                        '</a>',
                    '</td>',
                '</tr>'
            ].join('')
        }
    </script>
{% endblock %}